body {
  background-color: black;

}

h1 {
  color: #FF7221;
  text-shadow: 2px 2px #333;
}

.carousel h1, h2, h3 {
  text-align: center;
  color: black;
}

.btn-success, .btn-danger {
      float: right;
}

.btn {
  margin: 5px;
}
